
.edit {
   height: 500px;
   min-width: 430px;
 
}
.ant-card-body p{
    display: flex;
    align-items: center;
    height: 35px;
}

.ant-card-body span {
    display: inline-block;
    /* margin-right: 10px; */
}

.ant-form .ant-form-item:nth-child(-n+3) .ant-form-item-label{
    text-align: left;
    width: 70px;
}

#qualifyTeamsCount{
    width: 178px;
}
.ant-card-body .ant-switch .ant-switch-inner{
    width: 12px;
}
.ant-card-body .ant-input {
    width: 250px;
}